{% extends 'base.html.twig' %}

{% block title %}Mon compte - Modifier mon mot de passe{% endblock %}

{% block content %}
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <h1>Modifier mon mot de passe</h1>

    {% for label, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ label }} mb-0">
                {% for message in messages %}
                    {{ message | raw }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}


    {{ form(form) }}
{% endblock %}