{% extends 'base.html.twig' %}

{% block title %}La Boutique - valider ma commande{% endblock %}

{% block content %}
<h2>Je passe ma commande</h2>
    <hr>
    <div class="row">
        <div class="col-md-6"><b>Choisir mon adresse de livraison</b><br><b>Choisir mon transporteur</b></div>
        <div class="col-md-6"><b>Récapitulatif de ma commande</b><br><b>Bouton pour payer</b></div>
    </div>
{% endblock %}
